apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "3"
        cert-manager.io/cluster-issuer: letsencrypt-production
        cert-manager.io/common-name: ENC[AES256_GCM,data:VaQC0YZE1poMSijX7ukF4+IwSig44twGJVnhp07yNPDQueo=,iv:pG5XokxAVEvpdU4vCCNBrFQe7IBrh4GO+6eKdowCTxg=,tag:zRqPZBnDKI+fBHAdJK52yQ==,type:str]
        external-dns.alpha.kubernetes.io/hostname: ENC[AES256_GCM,data:WE27GbDZZ2VVPMrK+1//t2W7X5Xanu7elDMv3qtXYZOMmbQ=,iv:m/4WQ7JfNhX2vm2f3RtMUSHcZ0uuC7HP5sYVId1MuAQ=,tag:QAeLZJPD2NehXeAQSt4VPQ==,type:str]
        external-dns.alpha.kubernetes.io/target: ENC[AES256_GCM,data:8rZMy0MKbZ8eAAEOhP8zhcOE0uQkr/tEd0Q=,iv:pXUBAR6H138/7RnBbTFa9Go5tn02iNULp6QHRqR1qH8=,tag:x10pvyAbIEvY5AwfYBNIVA==,type:str]
        external-dns.alpha.kubernetes.io/ttl: "300"
        kubernetes.io/ingress.class: traefik-external
    name: longhorn-frontend
    namespace: longhorn-system
spec:
    entryPoints:
        - websecure
    routes:
        - kind: Rule
          match: ENC[AES256_GCM,data:m0a4pGSP4DovSq6OfNdKaEp9YpkaAfenjf+VEt54xjJTXWJvAZ4QbDVVEnlUtMFmx6lN1haDLbnIhcdyTPE4G3hGq9/18f+rAN9RkfYkff333B3zZsy0Ah03dusiPCHPGEN/6kpL2ZNCA/kr66JrB+22Pl94Vi/HVjzSS37o1ifC6bv+NvfbXQJy0iNEeEg=,iv:v7DJicvk8/T9HY8EnqvBFryU2a2OYOr5vTgA+ioW2p0=,tag:SGKM0TH70GMgXSpQPXKuIg==,type:str]
          priority: 10
          middlewares:
            - name: chain-authentik
              namespace: traefik
            - name: svc-longhorn-headers
              namespace: traefik
          services:
            - kind: TraefikService
              name: longhorn-frontend
              namespace: longhorn-system
        - kind: Rule
          match: ENC[AES256_GCM,data:oZqzwEe0VMa8QiQgYUibQoFQywcJ8XYP0bnOD72beXNUAzT8uqpZ/8uHKpLz13vDWbNg5JZ+JmZgVPLkD8elMYWDKq8S/3Rd1WLMun5UuYIDOwIM+A==,iv:dKfQeMdbdiarXwd21tiQ+7apX07f0zrcG4Bv8erMuIE=,tag:/FzYubXJ1XhXAN1P4acErQ==,type:str]
          priority: 15
          services:
            - kind: Service
              name: longhorn-frontend
    tls:
        domains:
            - main: ENC[AES256_GCM,data:fIfG0Fa4gp6PttEZYYU7cFFLbLtXwowfN+k=,iv:+jYCEPJinwdHjtaH9PnzAybC+yy1u6W0nzFcgSvbKBQ=,tag:IZx4HkfNyQBiLjEGM+b2/A==,type:str]
              sans:
                - ENC[AES256_GCM,data:TcyLVZRz3QHddms6tFRVdNlmFJer2qW+/79X,iv:4bGqYGmdEcF/d2AWuALZiLQYwPrgxN+Tr0pwxdvugQc=,tag:vXjOD+jGNeTnbDK3NY43Jw==,type:str]
        options:
            name: tls-ver13
            namespace: traefik
        secretName: longhorn-cf-production
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1deg9tqt7jtddnqme6nvcl72czns80z0n25u8k9pw5830dn4arsks5pua4h
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBwRkFZVUhUQmJjRUd4OXRK
            R3FiNlhMdktmaVdjTURSOUlTRmNBa2p5UHc4CjZPYy8wSlVMNlNCck9LV0dIZXg2
            Y2ZEWkNpQ3dFSTNXYW1jOEVtajUzeTQKLS0tIG9xWE1aSnFNZ2RpbW9CeFJoeEtV
            R3EvVFk4YjJlRFhzemVRdkNnY1ZWUUkK/GdeF5aOXjn7uHaIg+zdTAyFkSj7jmPg
            Fc5eNbn3Ztd29OMytL9mUDFLgD665hxM/13hNoceTswD6gstoruOlw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2024-10-09T17:13:09Z"
    mac: ENC[AES256_GCM,data:7hFQFk7bClp2tUBG1r3Mqah56JqKx0p6R+RIPHSslQxTb/PbLidZO/P1DZYR9ycHZdLnXCt1ilS9A1z6qrik+Hddqnqaka3hiZSjgYrDlonXn67vTdgsy3Q8cm4f567R1hlttVDyMJZaqhXnRxwOZiNPTteiZLJlg7tav2xUMUQ=,iv:RmWPXUHuMHaGnZLIpCLjwXGm+cdkVfL2LFpoI1E7P/8=,tag:MKYOd8gEZ+EzUZCUIHZX/w==,type:str]
    pgp:
        - created_at: "2024-10-03T23:41:37Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA0R6oz1GmNjVARAAiVI1PV+c9s1FpCagCW8YYtE3YOA4BQxRKJnwq4XBmDfa
            eXLjeh19oxJ/SbbYTgQv+khCcDMuKjmPJm3E4rVpDPNvoOtLdiezR+zDOewp9qVZ
            zotzs1xzj1Q6VKcL01w+fAiRvAs5+nxqoFcZLwBIoNX4TODQMTouv1UtJszC329b
            VBpjIS+msm314TyM2OcOfbDni1tmXSSNubyfEi9pjTBu7gcUwvGWBnEyWF5ylxuC
            b0ZY/59rZJyEiNUa8jfbNuGQD4wKRx9OOT8pNilOtGgxVUUjIUYkhdlWmQTx2pig
            dS3s+g+JN9Tul3APmWAw1icyCGllWaoPAZoeTkOmJHp4loPCcpU0nfEPC9evADPH
            xNKOyjqpGiwDSTk7xbUbwqLlbHSgYS/FJcN+9lHBk6jT84WX0rT0nR4R3uBrhvvp
            65rsUWbd+ZX6JSc9EP3tDRs53kJrsf1vr4Hzf1/im3hqPDa1bsDxQdS7jcIYuD6n
            n4daARFouYRpUFibkk872N4yYiUYb+x+IGsJNF1HPcNvtBqg60cOQ0w2Wb57kk5E
            LlzKkSNLa4A8xUvQm1CTM6qFdXYWp0sxdMZhmcmvxMnI9mZh2bVs5TDySnj82Hos
            YiMn7warYYUCBE/Wxde8mfwrWu6VH+Crk2toGM+4q/Oa9ejjm/YrmnyEGZ1zSibS
            XgHjjFj8jc6CoCYnBMWUjScBJk4mv1UsRCMbFeASvIgzNW1G7h37XEI2KCKrEuVJ
            7+3zi7ZZFs+bWZsIZOVKrvneaW0+1mvMqR0WBK2TKguM6Yo5Bmxe6XPPRmKY8fk=
            =uHP2
            -----END PGP MESSAGE-----
          fp: 6D3FE55384B558E06A1BA364586EFA784A32C981
    encrypted_regex: ^(externalName|external-dns.alpha.kubernetes.io/hostname|cert-manager.io/common-name|sans|main|match|external-dns.alpha.kubernetes.io/target|dnsNames|commonName|data|stringData|dnsNames|email|accessKeyID|region|hostedZoneID|role|dnsZones)$
    version: 3.9.0
---
apiVersion: traefik.io/v1alpha1
kind: TraefikService
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "2"
    name: longhorn-frontend
    namespace: longhorn-system
spec:
    weighted:
        services:
            - name: longhorn-frontend
              port: 80
              weight: 1
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1deg9tqt7jtddnqme6nvcl72czns80z0n25u8k9pw5830dn4arsks5pua4h
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBwRkFZVUhUQmJjRUd4OXRK
            R3FiNlhMdktmaVdjTURSOUlTRmNBa2p5UHc4CjZPYy8wSlVMNlNCck9LV0dIZXg2
            Y2ZEWkNpQ3dFSTNXYW1jOEVtajUzeTQKLS0tIG9xWE1aSnFNZ2RpbW9CeFJoeEtV
            R3EvVFk4YjJlRFhzemVRdkNnY1ZWUUkK/GdeF5aOXjn7uHaIg+zdTAyFkSj7jmPg
            Fc5eNbn3Ztd29OMytL9mUDFLgD665hxM/13hNoceTswD6gstoruOlw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2024-10-09T17:13:09Z"
    mac: ENC[AES256_GCM,data:7hFQFk7bClp2tUBG1r3Mqah56JqKx0p6R+RIPHSslQxTb/PbLidZO/P1DZYR9ycHZdLnXCt1ilS9A1z6qrik+Hddqnqaka3hiZSjgYrDlonXn67vTdgsy3Q8cm4f567R1hlttVDyMJZaqhXnRxwOZiNPTteiZLJlg7tav2xUMUQ=,iv:RmWPXUHuMHaGnZLIpCLjwXGm+cdkVfL2LFpoI1E7P/8=,tag:MKYOd8gEZ+EzUZCUIHZX/w==,type:str]
    pgp:
        - created_at: "2024-10-03T23:41:37Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA0R6oz1GmNjVARAAiVI1PV+c9s1FpCagCW8YYtE3YOA4BQxRKJnwq4XBmDfa
            eXLjeh19oxJ/SbbYTgQv+khCcDMuKjmPJm3E4rVpDPNvoOtLdiezR+zDOewp9qVZ
            zotzs1xzj1Q6VKcL01w+fAiRvAs5+nxqoFcZLwBIoNX4TODQMTouv1UtJszC329b
            VBpjIS+msm314TyM2OcOfbDni1tmXSSNubyfEi9pjTBu7gcUwvGWBnEyWF5ylxuC
            b0ZY/59rZJyEiNUa8jfbNuGQD4wKRx9OOT8pNilOtGgxVUUjIUYkhdlWmQTx2pig
            dS3s+g+JN9Tul3APmWAw1icyCGllWaoPAZoeTkOmJHp4loPCcpU0nfEPC9evADPH
            xNKOyjqpGiwDSTk7xbUbwqLlbHSgYS/FJcN+9lHBk6jT84WX0rT0nR4R3uBrhvvp
            65rsUWbd+ZX6JSc9EP3tDRs53kJrsf1vr4Hzf1/im3hqPDa1bsDxQdS7jcIYuD6n
            n4daARFouYRpUFibkk872N4yYiUYb+x+IGsJNF1HPcNvtBqg60cOQ0w2Wb57kk5E
            LlzKkSNLa4A8xUvQm1CTM6qFdXYWp0sxdMZhmcmvxMnI9mZh2bVs5TDySnj82Hos
            YiMn7warYYUCBE/Wxde8mfwrWu6VH+Crk2toGM+4q/Oa9ejjm/YrmnyEGZ1zSibS
            XgHjjFj8jc6CoCYnBMWUjScBJk4mv1UsRCMbFeASvIgzNW1G7h37XEI2KCKrEuVJ
            7+3zi7ZZFs+bWZsIZOVKrvneaW0+1mvMqR0WBK2TKguM6Yo5Bmxe6XPPRmKY8fk=
            =uHP2
            -----END PGP MESSAGE-----
          fp: 6D3FE55384B558E06A1BA364586EFA784A32C981
    encrypted_regex: ^(externalName|external-dns.alpha.kubernetes.io/hostname|cert-manager.io/common-name|sans|main|match|external-dns.alpha.kubernetes.io/target|dnsNames|commonName|data|stringData|dnsNames|email|accessKeyID|region|hostedZoneID|role|dnsZones)$
    version: 3.9.0
