apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "3"
        cert-manager.io/cluster-issuer: letsencrypt-staging
        cert-manager.io/common-name: longhorn.anotherlife.org.pl
        external-dns.alpha.kubernetes.io/hostname: ENC[AES256_GCM,data:P8gORKSJDobAvDuIzOkNkqQGfu2V8m/Z/CNU,iv:9gsMmxD+uMJ9cVzHQJ1Yy91QceN6lHcAT8ysew7//6w=,tag:3JC1v7PngjOva4ExsjIZrg==,type:str]
        kubernetes.io/ingress.class: traefik-external
    name: longhorn-frontend-staging
    namespace: longhorn-system
spec:
    entryPoints:
        - websecure
    routes:
        - kind: Rule
          match: ENC[AES256_GCM,data:iWUakyX9D+4Fa+e/8gXQke+mssom+ertiiawPjNLP5wi4nM=,iv:GA5fJY4dWXmafpnHbxfSzmBA6xvJBKpYlWFFkO1UEYU=,tag:mhzJXX6gJPvc7EGJLEVlCw==,type:str]
          middlewares:
            - name: longhorn-dashboard
              namespace: traefik
          services:
            - kind: TraefikService
              name: longhorn-frontend
              namespace: longhorn-system
    tls:
        domains:
            - main: ENC[AES256_GCM,data:wEYrXPpojHYXdXqJGWIbxeVf,iv:Tv2dZE1QHD9IhSkFolwf64DMvcY0M0tQ4iNbNIXEODU=,tag:4JhQz+eqymWw8zIX3xw64Q==,type:str]
              sans:
                - ENC[AES256_GCM,data:lNqsejL2a7hou2QDGjqhulAK5w==,iv:7OABNKA+CxMiFkzgsdqOH6BPwGZrSBuMYDaFOFm0iJQ=,tag:CgYluOy5ElVvMQPwVDnmSA==,type:str]
        options:
            name: tls-ver13
            namespace: traefik
        secretName: longhorn-cf-staging
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1deg9tqt7jtddnqme6nvcl72czns80z0n25u8k9pw5830dn4arsks5pua4h
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAydEVBTkZMRm02cFhkb29n
            SnJIOHQyYVpibWF2SnppbXdGM1pVcnN3cXcwCjNaNURmY2Zoa09zM0R2UVlHWXZr
            bTQ5MWpyejZIZUphZVE5RS8xTmk2ZWsKLS0tIEZxTWlTbUpoMFIyd2RjaWR1elIr
            a0M5R2o1QnBUMDJQOTcvL3JPbm81dkEKyWyD1kzJJJSdec6MMabEuWxcBt7ahl+T
            0vEP1BDNFpIrFu5ZBwoB9poTGrfqKHbFnB0qXgiXwz6EBECisaDjSg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2024-09-12T18:16:44Z"
    mac: ENC[AES256_GCM,data:Bc5XVTN3JqeCtUL1OT/IMmAktw9yJrCCt5kyIs2hBvaONv/NcErcrmYhOtsNdRX01TgCdGKS8y9w04qyx4IyaloOf26uskKXpVYJPhJbhhRyGy6eR4qjEjBGQf+qFio4v1IwOSqsRFwvJImaOL5oouiuuZ7ZaaDaNwWKapeeFAI=,iv:f2uMvVNVEdS3NrIbauZYl5MK+MolF51jn8erIXbmYyk=,tag:KlPklpQ0zuUgctUUtD1/Dg==,type:str]
    pgp:
        - created_at: "2024-07-07T10:31:05Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA0R6oz1GmNjVARAAsDP0klV0I4K8uxL2gsg1iLP+74xxzw9/TOVumPyuhy4g
            Okj2Xs0iT8drB+hzhFa2ha7QoPi9lT1ghHXNcRP5mUFcqVB8LN/8HZ5j1ZM2V3nE
            VHI1UHZ2pWKOAszAuNF0sKfRpLevQt7gsMdsSi9uNMZIbbAer8lYz/6nDiQ5ErAZ
            tW1rBCrwNRKJ25haUnHcMg/EJw5Ae0VEMCW97TjyQAB5GcfE2EaOhnE1zsgxL/UK
            azAONF5qju9g522AhXlSOeJXPHwoEnj3oD68xhOKyP0kysEyuUa4eEdPSyhQbEU2
            0N2ZhqLNOt1u/i/gc4dvZdIr0sAyYbvpdpiGa+t33jMf9Dpldfu+XjnD3itcq2Ga
            I6e67mRgzNem216E6+rH8m2ndm9a5CvoagxvIAFYcxSHthaAEibjejjDLTj+F035
            yYXKWUMjQgUq2raXsO71PM/w3IYiE+AYpqrP6ZifZMCo4IAYd3rrMuh2OzE344BW
            toEj7jG0eXxBh5w+WQUiqw8jZPYSpqa66DT8Jd0yS8D2oGvptLZofeC3YPAwqkKK
            iBDAXUQDdA5ppjTOyVMKBC/ZEUWsTuApqhc2LzuRtrs5pNNaLNCSLQBO8c2h724/
            uOQ0/GJuc8G/s9NTVjeBmoiK7GBEirx3tFdy/lKdj4QU5brrzyo66IJeua+gkTvS
            XAGNg2R6QcSht5cW++c4yAoNd6BPiem9XtE+5lvmaHjr3m017+q6HIWTwd9zd1ez
            izWFj0szVv/8ZaYLFp+TrVkalD5TLJ/oFQDfm4q39d90f68upM/HmGzX4a10
            =3B5p
            -----END PGP MESSAGE-----
          fp: 6D3FE55384B558E06A1BA364586EFA784A32C981
    encrypted_regex: ^(externalName|external-dns.alpha.kubernetes.io/hostname|sans|main|match|external-dns.alpha.kubernetes.io/target|dnsNames|commonName|data|stringData|dnsNames|email|accessKeyID|region|hostedZoneID|role|dnsZones)$
    version: 3.8.1
---
apiVersion: traefik.io/v1alpha1
kind: TraefikService
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "2"
    name: longhorn-frontend
    namespace: longhorn-system
spec:
    weighted:
        services:
            - name: longhorn-frontend
              port: 80
              weight: 1
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1deg9tqt7jtddnqme6nvcl72czns80z0n25u8k9pw5830dn4arsks5pua4h
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAydEVBTkZMRm02cFhkb29n
            SnJIOHQyYVpibWF2SnppbXdGM1pVcnN3cXcwCjNaNURmY2Zoa09zM0R2UVlHWXZr
            bTQ5MWpyejZIZUphZVE5RS8xTmk2ZWsKLS0tIEZxTWlTbUpoMFIyd2RjaWR1elIr
            a0M5R2o1QnBUMDJQOTcvL3JPbm81dkEKyWyD1kzJJJSdec6MMabEuWxcBt7ahl+T
            0vEP1BDNFpIrFu5ZBwoB9poTGrfqKHbFnB0qXgiXwz6EBECisaDjSg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2024-09-12T18:16:44Z"
    mac: ENC[AES256_GCM,data:Bc5XVTN3JqeCtUL1OT/IMmAktw9yJrCCt5kyIs2hBvaONv/NcErcrmYhOtsNdRX01TgCdGKS8y9w04qyx4IyaloOf26uskKXpVYJPhJbhhRyGy6eR4qjEjBGQf+qFio4v1IwOSqsRFwvJImaOL5oouiuuZ7ZaaDaNwWKapeeFAI=,iv:f2uMvVNVEdS3NrIbauZYl5MK+MolF51jn8erIXbmYyk=,tag:KlPklpQ0zuUgctUUtD1/Dg==,type:str]
    pgp:
        - created_at: "2024-07-07T10:31:05Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA0R6oz1GmNjVARAAsDP0klV0I4K8uxL2gsg1iLP+74xxzw9/TOVumPyuhy4g
            Okj2Xs0iT8drB+hzhFa2ha7QoPi9lT1ghHXNcRP5mUFcqVB8LN/8HZ5j1ZM2V3nE
            VHI1UHZ2pWKOAszAuNF0sKfRpLevQt7gsMdsSi9uNMZIbbAer8lYz/6nDiQ5ErAZ
            tW1rBCrwNRKJ25haUnHcMg/EJw5Ae0VEMCW97TjyQAB5GcfE2EaOhnE1zsgxL/UK
            azAONF5qju9g522AhXlSOeJXPHwoEnj3oD68xhOKyP0kysEyuUa4eEdPSyhQbEU2
            0N2ZhqLNOt1u/i/gc4dvZdIr0sAyYbvpdpiGa+t33jMf9Dpldfu+XjnD3itcq2Ga
            I6e67mRgzNem216E6+rH8m2ndm9a5CvoagxvIAFYcxSHthaAEibjejjDLTj+F035
            yYXKWUMjQgUq2raXsO71PM/w3IYiE+AYpqrP6ZifZMCo4IAYd3rrMuh2OzE344BW
            toEj7jG0eXxBh5w+WQUiqw8jZPYSpqa66DT8Jd0yS8D2oGvptLZofeC3YPAwqkKK
            iBDAXUQDdA5ppjTOyVMKBC/ZEUWsTuApqhc2LzuRtrs5pNNaLNCSLQBO8c2h724/
            uOQ0/GJuc8G/s9NTVjeBmoiK7GBEirx3tFdy/lKdj4QU5brrzyo66IJeua+gkTvS
            XAGNg2R6QcSht5cW++c4yAoNd6BPiem9XtE+5lvmaHjr3m017+q6HIWTwd9zd1ez
            izWFj0szVv/8ZaYLFp+TrVkalD5TLJ/oFQDfm4q39d90f68upM/HmGzX4a10
            =3B5p
            -----END PGP MESSAGE-----
          fp: 6D3FE55384B558E06A1BA364586EFA784A32C981
    encrypted_regex: ^(externalName|external-dns.alpha.kubernetes.io/hostname|sans|main|match|external-dns.alpha.kubernetes.io/target|dnsNames|commonName|data|stringData|dnsNames|email|accessKeyID|region|hostedZoneID|role|dnsZones)$
    version: 3.8.1
