---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Delete=true,Prune=true

resources:
- resources/ns.yaml
- resources/gpu-device-plugin.yaml
# - resources/node-feature-rules.yaml

helmCharts:
# - name: intel-device-plugins-gpu
#   version: 0.31.1
#   repo: https://intel.github.io/helm-charts
#   includeCRDs: true
#   namespace: intel-device-plugins
#   releaseName: intel-device-plugins-gpu
#   valuesFile: values.yaml

- name: intel-device-plugins-operator
  repo: https://intel.github.io/helm-charts
  version: 0.31.1
  namespace: intel-device-plugins
  releaseName: intel-device-plugins-operator
  includeCRDs: true

# patches:
# - |-
#   apiVersion: argoproj.io/v1alpha1
#   kind: ApplicationSet
#   metadata:
#     name: intel-device-plugins-gpu
#     namespace: intel-device-plugins
#   spec:
#     template:
#       spec:
#         ignoreDifferences:
#           - group: deviceplugin.intel.com
#             kind: GpuDevicePlugin
#             name: intel-gpu-device-plugin
#             jsonPointers:
#                 - /spec/resourceManager
