---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Delete=true,Prune=true

resources:
- resources/ns.yaml
- resources/service.monitor.yaml
- resources/service.yaml
- resources/prometheus.rule.yaml
# - resources/backup.storage.location.yaml
# - resources/volume.snapshot.location.yaml

generators:
- ksops-generator.yaml

generatorOptions:
  disableNameSuffixHash: true
  labels:
    component: velero

helmCharts:
- name: velero
  version: 7.1.5
  repo: https://vmware-tanzu.github.io/helm-charts
  includeCRDs: true
  namespace: velero
  releaseName: velero
  valuesFile: values.yaml
