---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Delete=true,Prune=true

resources:
# - resources/backup.storage.location.yaml
- resources/ns.yaml
- resources/servicemonitor.yaml
# - resources/volume.snapshot.location.yaml
# - resources/backup.yaml
# - resources/restore.yaml
# - resources/schedule.yaml
- resources/volume.snapshotclass.yaml

generators:
- ksops-generator.yaml

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
- name: velero
  version: 7.1.5
  repo: https://vmware-tanzu.github.io/helm-charts
  includeCRDs: true
  namespace: velero
  releaseName: velero
  valuesFile: values.yaml
