replicas: 1
updateStrategy:
  type: RollingUpdate

initContainers:
- name: velero-plugin-for-aws
  image: velero/velero-plugin-for-aws:v1.10.0
  imagePullPolicy: IfNotPresent
  volumeMounts:
  - mountPath: /target
    name: plugins

configuration:
  features: EnableCSI, EnableAPIGroupVersions

  backupStorageLocation:
  - name: default
    provider: aws
    bucket: k3s-velero
    # validationFrequency: 10m0s
    accessMode: ReadWrite
    credential:
      name: velero-secret
      key: cloud
    config:
      profile: "default"
      region: us-east-1
      s3ForcePathStyle: true
      s3Url: http://minio.minio.svc:9000
      checksumAlgorithm: "CRC32"
      tagging: ""

  volumeSnapshotLocation:
  - name: default
    provider: aws
    credential:
      name: velero-secret
      key: cloud
    config:
      region: us-east-1
      profile: "default"

credentials:
  useSecret: true
  existingSecret: velero-secret

snapshotsEnabled: true
backupsEnabled: true
deployNodeAgent: true
upgradeCRDs: true

metrics:
  enabled: true
  scrapeInterval: 30s
  scrapeTimeout: 10s

  service:
    annotations: {}
    labels: {}

  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8085"
    prometheus.io/path: "/metrics"

  serviceMonitor:
    autodetect: true
    enabled: false
    annotations: {}
    additionalLabels: {}

  nodeAgentPodMonitor:
    autodetect: true
    enabled: false
    annotations: {}
    additionalLabels: {}

  prometheusRule:
    autodetect: true
    enabled: false
