# minio helm values (base)

mode: standalone ## other supported values are "standalone" "distributed"

image:
  repository: quay.io/minio/minio
  tag: RELEASE.2024-10-02T17-50-41Z
  pullPolicy: IfNotPresent

mcImage:
  repository: quay.io/minio/mc
  tag: RELEASE.2024-10-02T08-27-28Z
  pullPolicy: IfNotPresent


## Typically the deployment/statefulset includes checksums of secrets/config,
## So that when these change on a subsequent helm install, the deployment/statefulset
## is restarted. This can result in unnecessary restarts under GitOps tooling such as
## flux, so set to "true" to disable this behaviour.
ignoreChartChecksums: false
minioAPIPort: "9000"
minioConsolePort: "9001"

deploymentUpdate:
  type: RollingUpdate
  maxUnavailable: 0
  maxSurge: 100%

## Update strategy for StatefulSets
statefulSetUpdate:
  updateStrategy: RollingUpdate

existingSecret: "minio-secret"

## Directory on the MinIO pof
certsPath: "/etc/minio/certs/"
configPathmc: "/etc/minio/mc/"

## Additional arguments to pass to minio binary
extraArgs:
# example for enabling FTP:
- --ftp=\"address=:8021\"
- --ftp=\"passive-port-range=10000-10010\"

## Path where PV would be mounted on the MinIO Pod
mountPath: "/s3minio"
## Override the root directory which the minio server should serve from.
## If left empty, it defaults to the value of {{ .Values.mountPath }}
## If defined, it must be a sub-directory of the path specified in {{ .Values.mountPath }}
bucketRoot: ""

# Number of drives attached to a node
drivesPerNode: 1
# Number of MinIO containers running
replicas: 1
# Number of expanded MinIO clusters
pools: 1

## TLS Settings for MinIO
tls:
  enabled: false
  ## Create a secret with private.key and public.crt files and pass that here. Ref: https://github.com/minio/minio/tree/master/docs/tls/kubernetes#2-create-kubernetes-secret
  certSecret: ""
  publicCrt: public.crt
  privateKey: private.key

## Trusted Certificates Settings for MinIO. Ref: https://min.io/docs/minio/linux/operations/network-encryption.html#third-party-certificate-authorities
## Bundle multiple trusted certificates into one secret and pass that here. Ref: https://github.com/minio/minio/tree/master/docs/tls/kubernetes#2-create-kubernetes-secret
## When using self-signed certificates, remember to include MinIO's own certificate in the bundle with key public.crt.
## If certSecret is left empty and tls is enabled, this chart installs the public certificate from .Values.tls.certSecret.
trustedCertsSecret: ""

persistence:
  enabled: enable
  # existingClaim: pvc-minio-0
  storageClass: nfs-storage
  accessModes: ReadWriteOnce
  volumeName: pv-minio
  volumeMode: Filesystem
  size: 160Gi
  # persistentVolumeClaimRetentionPolicy:
  #   enabled: true
  #   whenScaled: Retain
  #   whenDeleted: Retain

service:
  type: LoadBalancer
  clusterIP: ~
  port: 9000
  nodePort: 32000
  loadBalancerIP: "192.168.40.187"
  externalIPs: []
  annotations: {}

consoleService:
  type: LoadBalancer
  clusterIP: ~
  port: 9001
  nodePort: 32001
  loadBalancerIP: "192.168.40.187"
  externalIPs: []
  annotations: {}

nodeSelector: {}
#   kubernetes.io/hostname: dev-k3s-master-0
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64

## Add stateful containers to have security context, if enabled MinIO will run as this
## user and group NOTE: securityContext is only enabled if persistence.enabled=true
securityContext:
  enabled: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  fsGroupChangePolicy: "OnRootMismatch"

# Additational pod annotations
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/minio/v2/metrics/cluster"
  prometheus.io/port: "9000"

resources:
  requests:
    memory: 0.8Gi
  limits:
    memory: 1.2Gi

# Minio Buckets bucket [true|false] NOTE: versioning is enabled by default if you use locking
buckets:
- name: k3s-authentik
  objectlocking: false
  policy: private
  purge: false
  versioning: false

- name: k3s-data
  objectlocking: false
  policy: private
  purge: false
  versioning: false

- name: k3s-loki
  objectlocking: false
  policy: private
  purge: false
  versioning: false

- name: k3s-longhorn
  objectlocking: false
  policy: private
  purge: false
  versioning: false

- name: k3s-tempo
  objectlocking: false
  policy: private
  purge: false
  versioning: false

- name: k3s-velero
  objectlocking: false
  policy: private
  purge: false
  versioning: false

users:
- accessKey: authentik
  existingSecret: minio-secret
  existingSecretKey: authentikPassword
  policy: authentik

- accessKey: loki
  existingSecret: minio-secret
  existingSecretKey: lokiPassword
  policy: loki

- accessKey: longhorn
  existingSecret: minio-secret
  existingSecretKey: longhornPassword
  policy: longhorn

- accessKey: rabbit
  existingSecret: minio-secret
  existingSecretKey: rabbitPassword
  policy: rabbit

- accessKey: tempo
  existingSecret: minio-secret
  existingSecretKey: tempoPassword
  policy: tempo

- accessKey: velero
  existingSecret: minio-secret
  existingSecretKey: veleroPassword
  policy: velero

policies:
- name: k3s-authentik
  statements:
  - resources:
    - 'arn:aws:s3:::k3s-authentik-backup'
    - 'arn:aws:s3:::k3s-authentik-backup/*'
    actions:
    - "s3:AbortMultipartUpload"
    - "s3:DeleteObject"
    - "s3:GetBucketLocation"
    - "s3:GetObject"
    - "s3:ListBucket"
    - "s3:ListBucketMultipartUploads"
    - "s3:ListMultipartUploadParts"
    - "s3:PutObject"
    effect: "Allow"
    conditions:
      - StringEquals: '"aws:username": "authentik"'
      - IpAddress: |
          "aws:SourceIp": [
            "10.0.0.0/8",
            "192.168.40.0/24"
          ]

- name: k3s-loki
  statements:
  - resources:
    - 'arn:aws:s3:::k3s-loki'
    - 'arn:aws:s3:::k3s-loki/*'
    actions:
    - "s3:AbortMultipartUpload"
    - "s3:DeleteObject"
    - "s3:GetBucketLocation"
    - "s3:GetObject"
    - "s3:ListBucket"
    - "s3:ListBucketMultipartUploads"
    - "s3:ListMultipartUploadParts"
    - "s3:PutObject"
    effect: "Allow"
    conditions:
      - StringEquals: '"aws:username": "loki"'
      - IpAddress: |
          "aws:SourceIp": [
            "10.0.0.0/8",
            "192.168.40.0/24"
          ]

- name: k3s-longhorn
  statements:
  - resources:
    - 'arn:aws:s3:::k3s-longhorn-backup'
    - 'arn:aws:s3:::k3s-longhorn-backup/*'
    actions:
    - "s3:AbortMultipartUpload"
    - "s3:DeleteObject"
    - "s3:GetBucketLocation"
    - "s3:GetObject"
    - "s3:ListBucket"
    - "s3:ListBucketMultipartUploads"
    - "s3:ListMultipartUploadParts"
    - "s3:PutObject"
    effect: "Allow"
    conditions:
      - StringEquals: '"aws:username": "longhorn"'
      - IpAddress: |
          "aws:SourceIp": [
            "10.0.0.0/8",
            "192.168.40.0/24"
          ]

- name: k3s-rabbit
  statements:
  - resources:
    - 'arn:aws:s3:::*'
    actions:
    - "s3:AbortMultipartUpload"
    - "s3:DeleteObject"
    - "s3:GetBucketLocation"
    - "s3:GetObject"
    - "s3:ListBucket"
    - "s3:ListBucketMultipartUploads"
    - "s3:ListMultipartUploadParts"
    - "s3:PutObject"
    effect: "Allow"
    conditions:
      - StringEquals: '"aws:username": "rabbit"'
      - IpAddress: |
          "aws:SourceIp": [
            "10.0.0.0/8",
            "192.168.40.0/24"
          ]

- name: k3s-tempo
  statements:
  - resources:
    - 'arn:aws:s3:::k3s-tempo'
    - 'arn:aws:s3:::k3s-tempo/*'
    actions:
    - "s3:AbortMultipartUpload"
    - "s3:DeleteObject"
    - "s3:GetBucketLocation"
    - "s3:GetObject"
    - "s3:ListBucket"
    - "s3:ListBucketMultipartUploads"
    - "s3:ListMultipartUploadParts"
    - "s3:PutObject"
    effect: "Allow"
    conditions:
      - StringEquals: '"aws:username": "tempo"'
      - IpAddress: |
          "aws:SourceIp": [
            "10.0.0.0/8",
            "192.168.40.0/24"
          ]

- name: k3s-velero
  statements:
  - resources:
    - 'arn:aws:s3:::k3s-velero'
    - 'arn:aws:s3:::k3s-velero/*'
    actions:
    - "s3:AbortMultipartUpload"
    - "s3:DeleteObject"
    - "s3:GetBucketLocation"
    - "s3:GetObject"
    - "s3:ListBucket"
    - "s3:ListBucketMultipartUploads"
    - "s3:ListMultipartUploadParts"
    - "s3:PutObject"
    effect: "Allow"
    conditions:
      - StringEquals: '"aws:username": "velero"'
      - IpAddress: |
          "aws:SourceIp": [
            "10.0.0.0/8",
            "192.168.40.0/24"
          ]

## readonlyexamplepolicy policy grants access to buckets with name starting with example.
## In addition, grants objects read permissions on buckets starting with example.
# - name: readonlyexamplepolicy
#   statements:
#     - resources:
#         - 'arn:aws:s3:::example*/*'
#       actions:
#         - "s3:GetObject"
#     - resources:
#         - 'arn:aws:s3:::example*'
#       actions:
#         - "s3:GetBucketLocation"
#         - "s3:ListBucket"
#         - "s3:ListBucketMultipartUploads"

## Additional Annotations for the Kubernetes Job makePolicyJob
makePolicyJob:
  securityContext:
    enabled: false
    runAsUser: 1000
    runAsGroup: 1000
  resources:
    requests:
      memory: 128Mi
  # Command to run after the main command on exit
  exitCommand: ""

makeServiceAccountJob:
  securityContext:
    enabled: false
    runAsUser: 1000
    runAsGroup: 1000
  resources:
    requests:
      memory: 128Mi
  # Command to run after the main command on exit
  exitCommand: ""

## Specify the service account to use for the MinIO pods. If 'create' is set to 'false'
## and 'name' is left unspecified, the account 'default' will be used.
serviceAccount:
  create: true
  ## The name of the service account to use. If 'create' is 'true', a service account with that name
  ## will be created.
  name: "minio"

metrics:
  serviceMonitor:
    enabled: true
    includeNode: true
    public: true
    additionalLabels: {}
    annotations: {}
    relabelConfigs: {}
    relabelConfigsCluster: # {}
      metricRelabelings:
      - regex: (server|pod)
        action: labeldrop
    namespace: ~
    interval: 30s
    scrapeTimeout: 10s

## ETCD settings: https://github.com/minio/minio/blob/master/docs/sts/etcd.md
## Define endpoints to enable this section.
etcd:
  endpoints: []
  pathPrefix: ""
  corednsPathPrefix: ""
  clientCert: ""
  clientCertKey: ""
