apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "3"
        cert-manager.io/cluster-issuer: letsencrypt-production
        cert-manager.io/common-name: esphome.iot.anotherlife.org.pl
        external-dns.alpha.kubernetes.io/hostname: ENC[AES256_GCM,data:Z14CJ8oCIb392zkJRMjAHtbJkdJJC2B+/i3FBgd3,iv:kXCSfkjqcoIheLY2L0g6PCAOzOeeGkPh2Mglo08Tvp8=,tag:ho8wkZl1sfyuWxUTiFIhtQ==,type:str]
        external-dns.alpha.kubernetes.io/target: ENC[AES256_GCM,data:95nhn2+8bE7z8Or+DQttWvrWCK+YmA==,iv:FmvBpAvN0/YKgDhb1q6CmLjApzbSP8Zzk/C7rVeAGa0=,tag:N2qLpy6gEmTM0uhq3tj2aA==,type:str]
        external-dns.alpha.kubernetes.io/ttl: "300"
        kubernetes.io/ingress.class: traefik-external
    name: esphome
    namespace: esphome
spec:
    entryPoints:
        - websecure
    routes:
        - kind: Rule
          match: ENC[AES256_GCM,data:zoTZDlL81Nbe0MN7JNNxXI6K9ysyfRnu96yPDFfGrpOZH9kGrk8=,iv:37Ren0ilh95W0JPlBu1rlsKwQwgAd1vpTlipAQmdICc=,tag:vZVLXLSpF94kLHT4jMs9VQ==,type:str]
          middlewares:
            - name: chain-traefik-dashboard
              namespace: traefik
          services:
            - kind: TraefikService
              name: esphome
              namespace: esphome
    tls:
        domains:
            - main: ENC[AES256_GCM,data:QnUBlX7xY/Jd5cgbaVZpml7QbP+/IA==,iv:nhXTqWl/3zpB1bqvtgTqba+h3GXmV8ajOqRpufDTCLw=,tag:s/7dg+N0zqXmPxIZvn+tcg==,type:str]
              sans:
                - ENC[AES256_GCM,data:x20VnnPvdskBOtNXAh3vtydibQlBL3U=,iv:q9RcSPF4nc1mv6FHcVBw5GH9s9x3pjTpg5OAYY/rZUY=,tag:vjwMRBPESEnkw1MtKqMFnw==,type:str]
        options:
            name: tls-ver13
            namespace: traefik
        secretName: esphome-cf-production
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1deg9tqt7jtddnqme6nvcl72czns80z0n25u8k9pw5830dn4arsks5pua4h
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB3MktGMlN2bjZJMTFMajV4
            MGVKdldMOXVjUUl6U3dsdWs3TjhuTXFOam1zClFBdHd1cWRnYWhnNncyMUZXQWYv
            eTNxL3JBU3VKSkVFNnJZQTVnNlFDYm8KLS0tIE9oTmphaStua2g3SzJ6YmRLdHhp
            VFpEZlZBNkpJNGp1dzRhVko5QTkzOGcKyKtLFcKQUQi6R+6UGVNRHyxTOoMdCrIr
            w8c5qHh01uQHiHi1U4QFQUizRjNVib9Gu0ehqrwESX3eqgfzKH5jww==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2024-09-13T14:20:43Z"
    mac: ENC[AES256_GCM,data:2IR+uLU+9IqQi7cpHprmzx4iVrxMdu3E8HvczgZeVFv/T05Rty7NofpC/qk4kLqRw6fUAeZnOkw3scMBw2tFUZ33UdrNJQVlF3TgepeEQKhAxNnkEWP6hyXDFR94DKpOJs/kYQkUGEBCtnUOZY8yWbbV//MGsHrc7Eu3RW7CE5g=,iv:5sALDSLQ2Q6BHYQpHQfomoxWK2Ur3p3z2MJHcCb6wgc=,tag:lZbnTBPG/6Cl/lDy8DL/Ow==,type:str]
    pgp:
        - created_at: "2024-06-22T20:24:01Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA0R6oz1GmNjVAQ//ckdUFF47JENHLxFJOHZDfsPBDa38fqH2UMJ+x0+OW12I
            Kca04ydiudgtaoImQHPCk2uG3K8UGkw/q8qRRH+q0AhpEOWOaemfLE/OkIfjTTi2
            8FYls59hMurSGZLDi2H9lK+ZroHtCMP0ER+QhSmiaOumPl8t4IMU7fi9pFDaFhDg
            2wSNFR72elER1QmqpEHOCZv4SSgLJSBKZY/nKLtRkyGSdHcxr4tbLUxBycwygcqn
            z27IJAfypnQWA2ctBBkvdAkt7qfhOGbGOSASaxmAHTIRPam9hcV8Ov0ybb1ZAsCI
            LxeIKxLvPAzwUXvA1c+IZBqsBY60HrhDe3rPoMWdauQ48q06HglvkP2wYPxTYOWN
            E7gLispYEekPOEtv1aAXjyT7OQA/SyJsYBSh4tPC8PPGJEIvLyJMMPjoA0TfrU/I
            rqcPhuEyU886qdtrpTmnHaASqjZJEyC+94asfxQ0nz0O9XyEYTGApub/gD+aAZx/
            wkV8Y/6Cns5Vu0Yk2mQAPqlrVVbL/TUKmrR5NbeJhfb4BE4FvgB46MR3FHBjgBsW
            PiM0pB4zL2SXp0Cavac87F8V+kzn1A1B30mKTIBPcXAdk3+qUXHY7vILBzZB6baA
            AX1cOQSk6r0H6r+DEOsUAercEsxQl1CWWclydWZOv+1rD6Jiv7cgEc/fqOlT/q7S
            XAFT97UwkEdFaq3gT9udbzEmCxMAxSYVLCvveQ2tH5qQndvLPxz/410T26hmsJRw
            AvXlyz2kS54Tr4ZiC/sBG7xncZ2acWUWn3toKDdySjoFxTSvtNx9Okaf0AkT
            =3F81
            -----END PGP MESSAGE-----
          fp: 6D3FE55384B558E06A1BA364586EFA784A32C981
    encrypted_regex: ^(externalName|external-dns.alpha.kubernetes.io/hostname|sans|main|match|external-dns.alpha.kubernetes.io/target|dnsNames|commonName|data|stringData|dnsNames|email|accessKeyID|region|hostedZoneID|role|dnsZones)$
    version: 3.8.1
---
apiVersion: traefik.io/v1alpha1
kind: TraefikService
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "2"
    name: esphome
    namespace: esphome
spec:
    weighted:
        services:
            - name: esphome
              port: 6052
              weight: 1
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1deg9tqt7jtddnqme6nvcl72czns80z0n25u8k9pw5830dn4arsks5pua4h
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB3MktGMlN2bjZJMTFMajV4
            MGVKdldMOXVjUUl6U3dsdWs3TjhuTXFOam1zClFBdHd1cWRnYWhnNncyMUZXQWYv
            eTNxL3JBU3VKSkVFNnJZQTVnNlFDYm8KLS0tIE9oTmphaStua2g3SzJ6YmRLdHhp
            VFpEZlZBNkpJNGp1dzRhVko5QTkzOGcKyKtLFcKQUQi6R+6UGVNRHyxTOoMdCrIr
            w8c5qHh01uQHiHi1U4QFQUizRjNVib9Gu0ehqrwESX3eqgfzKH5jww==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2024-09-13T14:20:43Z"
    mac: ENC[AES256_GCM,data:2IR+uLU+9IqQi7cpHprmzx4iVrxMdu3E8HvczgZeVFv/T05Rty7NofpC/qk4kLqRw6fUAeZnOkw3scMBw2tFUZ33UdrNJQVlF3TgepeEQKhAxNnkEWP6hyXDFR94DKpOJs/kYQkUGEBCtnUOZY8yWbbV//MGsHrc7Eu3RW7CE5g=,iv:5sALDSLQ2Q6BHYQpHQfomoxWK2Ur3p3z2MJHcCb6wgc=,tag:lZbnTBPG/6Cl/lDy8DL/Ow==,type:str]
    pgp:
        - created_at: "2024-06-22T20:24:01Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA0R6oz1GmNjVAQ//ckdUFF47JENHLxFJOHZDfsPBDa38fqH2UMJ+x0+OW12I
            Kca04ydiudgtaoImQHPCk2uG3K8UGkw/q8qRRH+q0AhpEOWOaemfLE/OkIfjTTi2
            8FYls59hMurSGZLDi2H9lK+ZroHtCMP0ER+QhSmiaOumPl8t4IMU7fi9pFDaFhDg
            2wSNFR72elER1QmqpEHOCZv4SSgLJSBKZY/nKLtRkyGSdHcxr4tbLUxBycwygcqn
            z27IJAfypnQWA2ctBBkvdAkt7qfhOGbGOSASaxmAHTIRPam9hcV8Ov0ybb1ZAsCI
            LxeIKxLvPAzwUXvA1c+IZBqsBY60HrhDe3rPoMWdauQ48q06HglvkP2wYPxTYOWN
            E7gLispYEekPOEtv1aAXjyT7OQA/SyJsYBSh4tPC8PPGJEIvLyJMMPjoA0TfrU/I
            rqcPhuEyU886qdtrpTmnHaASqjZJEyC+94asfxQ0nz0O9XyEYTGApub/gD+aAZx/
            wkV8Y/6Cns5Vu0Yk2mQAPqlrVVbL/TUKmrR5NbeJhfb4BE4FvgB46MR3FHBjgBsW
            PiM0pB4zL2SXp0Cavac87F8V+kzn1A1B30mKTIBPcXAdk3+qUXHY7vILBzZB6baA
            AX1cOQSk6r0H6r+DEOsUAercEsxQl1CWWclydWZOv+1rD6Jiv7cgEc/fqOlT/q7S
            XAFT97UwkEdFaq3gT9udbzEmCxMAxSYVLCvveQ2tH5qQndvLPxz/410T26hmsJRw
            AvXlyz2kS54Tr4ZiC/sBG7xncZ2acWUWn3toKDdySjoFxTSvtNx9Okaf0AkT
            =3F81
            -----END PGP MESSAGE-----
          fp: 6D3FE55384B558E06A1BA364586EFA784A32C981
    encrypted_regex: ^(externalName|external-dns.alpha.kubernetes.io/hostname|sans|main|match|external-dns.alpha.kubernetes.io/target|dnsNames|commonName|data|stringData|dnsNames|email|accessKeyID|region|hostedZoneID|role|dnsZones)$
    version: 3.8.1
