---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Delete=true,Prune=true
    # cert-manager.io/inject-ca-from-secret: "lb/cert-manager-webhook-tls"

resources:
- resources/ns.yaml
- resources/service.monitor.yaml
# - resources/cert.default.svc.yaml
# - resources/issuer.default.svc.yaml
# - resources/issuer.k3s.ca-cluster.yaml
- resources/pod.monitor.yaml

generators:
- ksops-generator.yaml

generatorOptions:
  disableNameSuffixHash: true
  labels:
    component: cert-manager

helmCharts:
- name: cert-manager
  version: 1.15.3 #v1.14.4 # 1.15.2
  repo: https://charts.jetstack.io
  includeCRDs: false
  namespace: cert-manager
  releaseName: cert-manager
  valuesFile: values.yaml

patches:
- path: patches/mutation-patch.yaml
  target:
    kind: Deployment
- path: patches/remove-instance-patch.yaml
  target:
    kind: CustomResourceDefinition
    labelSelector: app.kubernetes.io/instance=cert-manager
