---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous

resources:
- resources/crd-alertmanagerconfigs.yaml
- resources/crd-alertmanagers.yaml
- resources/crd-podmonitors.yaml
- resources/crd-probes.yaml
- resources/crd-prometheusagents.yaml
- resources/crd-prometheuses.yaml
- resources/crd-prometheusrules.yaml
- resources/crd-scrapeconfigs.yaml
- resources/crd-servicemonitors.yaml
