---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Delete=true,Prune=true

resources:
- resources/ns.yaml
- resources/pv.yaml
- resources/pvc.yaml
- resources/service-proxy.yaml

# generators:
# - ksops-generator.yaml

generatorOptions:
  disableNameSuffixHash: true
  labels:
    component: syncthing

helmCharts:
- name: syncthing
  version: 0.0.2
  repo: https://jacekzubielik.github.io/jz-helm-charts
  includeCRDs: false
  namespace: syncthing
  releaseName: syncthing
  valuesFile: values.yaml
