---
apiVersion: v1
kind: ConfigMap
metadata:
  name: proxmox-proxy-prometheus-config
  labels:
    name: proxmox-proxy-prometheus-config
data:
  prometheus.yml: |-
    global:
      scrape_interval: 15s
      evaluation_interval: 5s
    scrape_configs:

      - job_name: 'pve-node-exporter'
        static_configs:
          - targets: ['proxmox-proxy.proxmox-proxy.svc:9100']
        metrics_path: /metrics

      - job_name: 'pve'
        static_configs:
          - targets: ['proxmox-proxy.proxmox-proxy.svc:9221']
        metrics_path: /pve
        params:
          module: [default]


  # - job_name: 'pve-node-exporter'
  #   static_configs:
  #     - targets: ['192.168.40.3:9100']
  #   metrics_path: /metrics

  # - job_name: 'pve'
  #   static_configs:
  #     - targets: ['192.168.40.3:9221']
  #   metrics_path: /pve
  #   params:
  #     module: [default]

  # - job_name: 'pve'
  #   static_configs:
  #     - targets:
  #       - 192.168.40.3
  #   metrics_path: /pve
  #   params:
  #     module: [default]
  #   relabel_configs:
  #     - source_labels: [__address__]
  #       target_label: __param_target
  #     - source_labels: [__param_target]
  #       target_label: instance
  #     - target_label: __address__
  #       replacement: 192.168.40.3:9221
