---
# Headless service for Minio metrics. No Selector
apiVersion: v1
kind: Service
metadata:
  name: minio-metrics-service
  labels:
    app.kubernetes.io/name: minio
  namespace: kube-system
spec:
  clusterIP: None
  ports:
  - name: http-metrics
    port: 9000
    protocol: TCP
    targetPort: 9000
  type: ClusterIP
---
# Endpoint for the headless service without selector
apiVersion: v1
kind: Endpoints
metadata:
  name: minio-metrics-service
  namespace: kube-system
subsets:
- addresses:
  - ip: 192.168.40.3
  ports:
  - name: http-metrics
    port: 9000
  # protocol: TCP

---
# Headless service for K3S metrics. No selector
apiVersion: v1
kind: Service
metadata:
  name: k3s-metrics-service
  labels:
    app.kubernetes.io/name: kubelet
  namespace: kube-system
spec:
  clusterIP: None
  ports:
  - name: https-metrics
    port: 10250
    protocol: TCP
    targetPort: 10250
  type: ClusterIP

---
# Endpoint for the headless service without selector
apiVersion: v1
kind: Endpoints
metadata:
  name: k3s-metrics-service
  namespace: kube-system
subsets:
- addresses:
  - ip: 192.168.40.110
  # - ip: 192.168.40.111
  # - ip: 192.168.40.112
  ports:
  - name: https-metrics
    port: 10250
    protocol: TCP
