---
apiVersion: longhorn.io/v1beta2
kind: Volume
metadata:
  finalizers:
  - longhorn.io
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-wave: "-3"
  labels:
    longhornvolume: pvc-kube-alertmanager
    # recurring-job-group.longhorn.io/group3: enabled
    # recurring-job.longhorn.io/24-hour-backups: enabled
  name: pvc-kube-alertmanager
  namespace: longhorn-system
spec:
  dataLocality: best-effort
  diskSelector:
  - data
  - fast
  # restoreVolumeRecurringJob: enabled
  # fromBackup: "s3://k3s-longhorn-backup@us-east-1/?backup=system-backup-6e0044ee5d464ba9&volume=pvc-kube-alertmanager"
  frontend: blockdev
  # migratable: false
  nodeSelector:
  - fast
  - storage
  numberOfReplicas: 1
  size: '4294967296'
  snapshotMaxCount: 10

---
apiVersion: longhorn.io/v1beta2
kind: Volume
metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-wave: "-3"
  labels:
    longhornvolume: pvc-kube-grafana
    recurring-job-group.longhorn.io/group4: enabled
    recurring-job.longhorn.io/1-hour-snapshots: enabled
    recurring-job.longhorn.io/48-hour-backups: enabled
    recurring-job.longhorn.io/weekly-backups: enabled
  name: pvc-kube-grafana
  namespace: longhorn-system
spec:
  # backingImage: pvc-kube-grafana
  dataLocality: best-effort
  diskSelector:
  - data
  - fast
  # restoreVolumeRecurringJob: enabled
  fromBackup: s3://k3s-longhorn@us-east-1/?backup=backup-20d7b9cdb3cf4fa0&volume=pvc-kube-grafana
  frontend: blockdev
  # migratable: false
  nodeSelector:
  - fast
  - storage
  numberOfReplicas: 1
  size: '21474836480'
  snapshotMaxCount: 10

---
apiVersion: longhorn.io/v1beta2
kind: Volume
metadata:
  finalizers:
  - longhorn.io
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-wave: "-3"
  labels:
    longhornvolume: pvc-kube-prometheus
    recurring-job-group.longhorn.io/group4: enabled
    recurring-job.longhorn.io/1-hour-snapshots: enabled
    recurring-job.longhorn.io/48-hour-backups: enabled
    recurring-job.longhorn.io/weekly-backups: enabled
  name: pvc-kube-prometheus
  namespace: longhorn-system
spec:
  # backingImage: pvc-kube-prometheus
  dataLocality: best-effort
  diskSelector:
  - data
  - fast
  # restoreVolumeRecurringJob: enabled
  fromBackup: s3://k3s-longhorn@us-east-1/?backup=backup-1dbe76e164074cd8&volume=pvc-kube-prometheus
  frontend: blockdev
  # migratable: false
  nodeSelector:
  - fast
  - storage
  numberOfReplicas: 1
  size: '42949672960'
  snapshotMaxCount: 10
