apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "3"
        cert-manager.io/cluster-issuer: letsencrypt-staging
        cert-manager.io/common-name: ENC[AES256_GCM,data:BIjDPQANT1nxpurm/GObUy7zxRB1FyxRo5C72g==,iv:Z66fceqEKLnqsT/GAS8eo0DBb80SbPwkYfjYGj760sg=,tag:bHBCEMDIDW966B+7EdAtqw==,type:str]
        external-dns.alpha.kubernetes.io/hostname: ENC[AES256_GCM,data:AM74mRwOEYrPgPIvIcVqXJ+Hb8Aub7MYxj8hcQ==,iv:Hd6T81w2NcfSSnpl+3S8hPC/PfPq5kCTuGZHjNLR1hU=,tag:SWOuUxHA7ioYxBj1TwmADQ==,type:str]
        external-dns.alpha.kubernetes.io/target: ENC[AES256_GCM,data:DZV94xN4ajecih2Vb3F1nHzzyrePTAI7,iv:OnPvLCoHNiVEwMLEHu4hXJWGgC4JkuuEHnEXkHMSBKY=,tag:Z/V7e9A8sQgZHg/wg7wSjQ==,type:str]
        external-dns.alpha.kubernetes.io/ttl: "300"
        kubernetes.io/ingress.class: traefik-external
    name: authentik-staging
    namespace: authentik
spec:
    entryPoints:
        - websecure
    routes:
        - kind: Rule
          match: ENC[AES256_GCM,data:FxrTrcVDKGSlDZC6ONV7TY8p23REgbMJd+uQc5m1SoRl5j2W,iv:Mtig4fajKzqeEfUQQ5tMcTK1y1E9ImDvVidyXKs2xlU=,tag:vr2kT1oKHNPSd4k551pIag==,type:str]
          middlewares:
            - name: rate-limit
              namespace: traefik
          services:
            - kind: TraefikService
              name: authentik-server
              namespace: authentik
    tls:
        domains:
            - main: ENC[AES256_GCM,data:ECtSP6GmgaN8HN0+zH7bxrUBIYvTgVZn,iv:3vas+wUgWHp+imVZZwBqOuS2xmzhbfIQ3jHsHedJh0I=,tag:mD+IJmXieFGSC0un3dNHfg==,type:str]
              sans:
                - ENC[AES256_GCM,data:3FLNCZ+Kyi9Tq0QhrCj3uf8KdLL0GGx8KA==,iv:bmUUt8OT28TzDCGtyXMxS6Ctt1Rdq48/1fsddWbyb3c=,tag:ewWkjt6SmGAwuK16PEBZOw==,type:str]
        options:
            name: tls-ver13
            namespace: traefik
        secretName: authentik-cf-staging
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1deg9tqt7jtddnqme6nvcl72czns80z0n25u8k9pw5830dn4arsks5pua4h
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBoNGd1czNZYklzVDFEWnIw
            TWlycXM5bHJqWXJGMGpEVmRhTmFUS3hydmljCkUxcjVQUnZtOHVtZ045Y3N6eXhr
            eWxuYmRyd1FkRkFQWUZrZldHWVlMZzgKLS0tIFJyMzBScnRPMFJHN2ZKNGFtY2Jw
            RDRpNXArSk9BMXAxTzNWNlF2RE5tanMKtwPkVONnd3E6Dp5GsTFuhSI4gyi/jLwe
            rjNx3yyqAJsdcfS9hN76/axGxLtzKho4iON9a8JcjnWwCahEgQWeWg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2024-10-11T22:16:15Z"
    mac: ENC[AES256_GCM,data:TS/dxRhW9zJtJhnnXfz+e9QNZPkIUEcxbxlg3WmMgaqO0+iCjjNc4K/pRhhtIKdIaNS7RL9B7oxaGpwpboh3EmtFNOKpbOpVM+cCbL+smqW2PBd0wYt02BJ9+albXItsh6DNXMGtXp3EMH/Lbcdl2Zz+8ZAjcTCoRwFvIa7eq1g=,iv:TCuHkHsoMG5Af90qlt165nl42XIZwJ1/E2GZw8+hVS0=,tag:eHW/nHrvjHX39yL14z+Hzg==,type:str]
    pgp:
        - created_at: "2024-10-11T22:16:15Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA0R6oz1GmNjVAQ/+Lj7Huymicxv+P7w+aiGtP30KNGHAZVA7xz/cq3dskiDv
            PtWPR++0k3p2QmKppzef8/jBBYRT7xS7/yTFelXul6aVTmezSl1yVwlSm/dZV7ed
            pzJQfrNYYHOp0j1bF8Lv9uywd7GtTrGRHP26cMEE1uTcaloLWjnq5sFJinUSCCsY
            UcEeXAU+u9YjI7r78szCRiMBNYtFHCny54t5Ptt8iJYuXvOybgAGN844Za//BLYj
            xcrcbxdf7YnUgSRpbSeAaOUcpkTBB+elFystE8kP6z3JKNGtUHu+jZi0DThVLWZH
            Lw0fH1PK5mfkxVWdpYENky1M61nXrMbHhuxjQ88xfy2BLtY1Sge4G3WUiNyd2YcB
            5AvTbn1rom5Gffj14lSco/9ELlCp1Xqh2GnWiS+S+42DmSyusMhNz6yKV1oT4iFc
            lJSoLgv4fTzXa0SvT6sUIHb6J+q/sP2nzN1gso4clfXfSCetv5v9xWCacjMpopU4
            m2r86YwMuZdsqB12xCvPp1wQn7m6yHH0yImJvGq+NXSXDSuQbGBd/OuOAN1IzeKp
            v7rSrpqvsXhXprvINw+y7evNpsn1A7vYhcpwZps31wBueCliXklUxM3aADm8W8aK
            hkPWhpBpz4NBtK/mTKE7S/Y3Dtx6OcXKRHQ6p2wwyc5ceTMtlssBxdSkveKZ9xDS
            XgGB1Ih/AeXYhIlqCiXsu+DgRMqYiPwPaRWUzYFHGz212MV8ZkQZoz2f7y7AbaLf
            W4w5PZWhwBy7iER7fjdvSbTaHkH/J/z40/iRBlSlcliuDBtjt869hqHSMjaPExs=
            =A90o
            -----END PGP MESSAGE-----
          fp: 6D3FE55384B558E06A1BA364586EFA784A32C981
    encrypted_regex: ^(externalName|external-dns.alpha.kubernetes.io/hostname|cert-manager.io/common-name|sans|main|match|external-dns.alpha.kubernetes.io/target|dnsNames|commonName|data|stringData|dnsNames|email|accessKeyID|region|hostedZoneID|role|dnsZones)$
    version: 3.9.0
---
apiVersion: traefik.io/v1alpha1
kind: TraefikService
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "2"
    name: authentik-server
    namespace: authentik
spec:
    weighted:
        services:
            - name: authentik-server
              port: 443
              weight: 1
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1deg9tqt7jtddnqme6nvcl72czns80z0n25u8k9pw5830dn4arsks5pua4h
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBoNGd1czNZYklzVDFEWnIw
            TWlycXM5bHJqWXJGMGpEVmRhTmFUS3hydmljCkUxcjVQUnZtOHVtZ045Y3N6eXhr
            eWxuYmRyd1FkRkFQWUZrZldHWVlMZzgKLS0tIFJyMzBScnRPMFJHN2ZKNGFtY2Jw
            RDRpNXArSk9BMXAxTzNWNlF2RE5tanMKtwPkVONnd3E6Dp5GsTFuhSI4gyi/jLwe
            rjNx3yyqAJsdcfS9hN76/axGxLtzKho4iON9a8JcjnWwCahEgQWeWg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2024-10-11T22:16:15Z"
    mac: ENC[AES256_GCM,data:TS/dxRhW9zJtJhnnXfz+e9QNZPkIUEcxbxlg3WmMgaqO0+iCjjNc4K/pRhhtIKdIaNS7RL9B7oxaGpwpboh3EmtFNOKpbOpVM+cCbL+smqW2PBd0wYt02BJ9+albXItsh6DNXMGtXp3EMH/Lbcdl2Zz+8ZAjcTCoRwFvIa7eq1g=,iv:TCuHkHsoMG5Af90qlt165nl42XIZwJ1/E2GZw8+hVS0=,tag:eHW/nHrvjHX39yL14z+Hzg==,type:str]
    pgp:
        - created_at: "2024-10-11T22:16:15Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA0R6oz1GmNjVAQ/+Lj7Huymicxv+P7w+aiGtP30KNGHAZVA7xz/cq3dskiDv
            PtWPR++0k3p2QmKppzef8/jBBYRT7xS7/yTFelXul6aVTmezSl1yVwlSm/dZV7ed
            pzJQfrNYYHOp0j1bF8Lv9uywd7GtTrGRHP26cMEE1uTcaloLWjnq5sFJinUSCCsY
            UcEeXAU+u9YjI7r78szCRiMBNYtFHCny54t5Ptt8iJYuXvOybgAGN844Za//BLYj
            xcrcbxdf7YnUgSRpbSeAaOUcpkTBB+elFystE8kP6z3JKNGtUHu+jZi0DThVLWZH
            Lw0fH1PK5mfkxVWdpYENky1M61nXrMbHhuxjQ88xfy2BLtY1Sge4G3WUiNyd2YcB
            5AvTbn1rom5Gffj14lSco/9ELlCp1Xqh2GnWiS+S+42DmSyusMhNz6yKV1oT4iFc
            lJSoLgv4fTzXa0SvT6sUIHb6J+q/sP2nzN1gso4clfXfSCetv5v9xWCacjMpopU4
            m2r86YwMuZdsqB12xCvPp1wQn7m6yHH0yImJvGq+NXSXDSuQbGBd/OuOAN1IzeKp
            v7rSrpqvsXhXprvINw+y7evNpsn1A7vYhcpwZps31wBueCliXklUxM3aADm8W8aK
            hkPWhpBpz4NBtK/mTKE7S/Y3Dtx6OcXKRHQ6p2wwyc5ceTMtlssBxdSkveKZ9xDS
            XgGB1Ih/AeXYhIlqCiXsu+DgRMqYiPwPaRWUzYFHGz212MV8ZkQZoz2f7y7AbaLf
            W4w5PZWhwBy7iER7fjdvSbTaHkH/J/z40/iRBlSlcliuDBtjt869hqHSMjaPExs=
            =A90o
            -----END PGP MESSAGE-----
          fp: 6D3FE55384B558E06A1BA364586EFA784A32C981
    encrypted_regex: ^(externalName|external-dns.alpha.kubernetes.io/hostname|cert-manager.io/common-name|sans|main|match|external-dns.alpha.kubernetes.io/target|dnsNames|commonName|data|stringData|dnsNames|email|accessKeyID|region|hostedZoneID|role|dnsZones)$
    version: 3.9.0
