---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: authentik
    name: authentik-prometheus-config
  name: authentik-prometheus-config
data:
  prometheus.yml: |-
    global:
      scrape_interval: 15s
      evaluation_interval: 5s
    scrape_configs:
    - job_name: authentik
      static_configs:
      - targets: [authentik-server-metrics.authentik.svc.cluster.local:9300]
