---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: traefik
    release: kube-prometheus-stack
    prometheus.io/scrap-with: kube-prometheus-stack
  name: traefik
  namespace: traefik
spec:
  jobLabel: app.kubernetes.io/name
  endpoints:
  - port: metrics
    path: /metrics
    interval: 30s
    honorLabels: true
    metricRelabelings:
      - sourceLabels: [__name__]
        separator: ;
        regex: ^fluentd_output_status_buffer_(oldest|newest)_.+
        replacement: $1
        action: drop
    relabelings:
      - sourceLabels: [__meta_kubernetes_pod_node_name]
        separator: ;
        regex: ^(.*)$
        targetLabel: nodename
        replacement: $1
        action: replace
  namespaceSelector:
    matchNames:
    - traefik
  selector:
    matchLabels:
      app: traefik-metrics
      # release: kube-prometheus-stack
