---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    release: kube-prometheus-stack
    prometheus.io/scrap-with: kube-prometheus-stack
  name: traefik
  namespace: traefik
spec:
  endpoints:
  - interval: 30s
    port: metrics
    path: /metrics
    scrapeTimeout: 30s
  jobLabel: app.kubernetes.io/name
  namespaceSelector:
    matchNames:
    - traefik
  selector:
    matchLabels:
      app: traefik
      # app.kubernetes.io/instance: traefik
      app.kubernetes.io/name: traefik