---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Delete=true,Prune=true
  labels:
    app: external-dns

resources:
- resources/ns.yaml
- resources/prometheus.cm.yaml
- resources/service.monitor.yaml

generators:
- ksops-generator.yaml

generatorOptions:
  disableNameSuffixHash: true
  labels:
    component: external-dns

helmCharts:
- name: external-dns
  version: 8.7.3 # 8.3.12
  repo: https://charts.bitnami.com/bitnami
  includeCRDs: true
  namespace: external-dns
  releaseName: external-dns
  valuesFile: values.yaml

patches:
- path: patches/deployment.patch.yaml
  target:
    version: v1
    kind: Deployment
    name: external-dns
    namespace: external-dns
