---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Delete=true,Prune=true

resources:
# - resources/ns.yaml
- resources/prometheus.rule.yaml
- resources/recurring.backup.job.yaml
- resources/recurring.snapshot.job.yaml
- resources/service.yaml
- resources/service.monitor.yaml
- resources/storage.class.yaml
- resources/volume.snapshot.class.yaml

generators:
- ksops-generator.yaml

generatorOptions:
  disableNameSuffixHash: true
  labels:
    component: longhorn

helmCharts:
- name: longhorn
  version: 1.7.1
  repo: https://charts.longhorn.io
  includeCRDs: true
  namespace: longhorn-system
  releaseName: longhorn
  valuesFile: values.yaml

patches:
- path: patches/remove-instance-patch.yaml
  target:
    kind: CustomResourceDefinition
    labelSelector: app.kubernetes.io/instance=longhorn

- path: patches/hook.yaml
  target:
    name: pre-hook
    kind: Job

  - target:
      kind: Node
      name: dev-k3s-node-0
    patch: |-
      - op: add
        path: /metadata/annotations/node.longhorn.io~1config-node-tags
        value: '["fast","storage"]'

  - target:
      kind: Node
      name: dev-k3s-node-0
    patch: |-
      - op: add
        path: /metadata/annotations/node.longhorn.io~1create-default-disk
        value: config

  - target:
      kind: Node
      name: dev-k3s-node-0
    patch: |-
      - op: add
        path: /metadata/annotations/node.longhorn.io~1default-disks-config
        value: '[{"name":"data","path":"/mnt/data","allowScheduling":true,"storageReserved":4294967296,"tags":["data","fast"]}]'

  - target:
      kind: Node
      name: dev-k3s-node-1
    patch: |-
      - op: add
        path: /metadata/annotations/node.longhorn.io~1config-node-tags
        value: '["fast","storage"]'

  - target:
      kind: Node
      name: dev-k3s-node-1
    patch: |-
      - op: add
        path: /metadata/annotations/node.longhorn.io~1create-default-disk
        value: config

  - target:
      kind: Node
      name: dev-k3s-node-1
    patch: |-
      - op: add
        path: /metadata/annotations/node.longhorn.io~1default-disks-config
        value: '[{"name":"data","path":"/mnt/data","allowScheduling":true,"storageReserved":4294967296,"tags":["data","fast"]}]'
