---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-prometheus-config
  labels:
    name: minio-prometheus-config
data:
  prometheus.yml: |-
    global:
      scrape_interval: 5s
      evaluation_interval: 5s
    scrape_configs:
      - job_name: minio-job
        bearer_token: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJwcm9tZXRoZXVzIiwic3ViIjoicmFiYml0IiwiZXhwIjo0ODgxNjgyNTc1fQ.AMPM23R2fB7ha4NJ11Ph-h6rHWQ6YT3eRcb2yzZ6HMfxZYRgSUXTG2p0dXwkmR0qUzQ2e0lNg4_LX-g8w-OdOg # $minio:bearer_token
        metrics_path: /minio/v2/metrics/cluster
        scheme: http
        static_configs:
        - targets: ['192.168.40.3:9002']
