---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: minio-proxy
    name: minio-proxy-prometheus-config
  name: minio-proxy-prometheus-config
  namespace: minio-proxy

data:
  prometheus.yml: |-
    global:
      scrape_interval: 15s
      evaluation_interval: 5s
    scrape_configs:
      - job_name: 'minio-job'
        bearer_token: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJwcm9tZXRoZXVzIiwic3ViIjoicmFiYml0IiwiZXhwIjo0ODgxNjgyNTc1fQ.AMPM23R2fB7ha4NJ11Ph-h6rHWQ6YT3eRcb2yzZ6HMfxZYRgSUXTG2p0dXwkmR0qUzQ2e0lNg4_LX-g8w-OdOg # $minio:bearer_token
        metrics_path: /minio/v2/metrics/cluster
        scheme: http
        static_configs:
        - targets: ['minio-proxy.minio-proxy:9002']
